.register-form__heading {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 50px 0 10px 0;
}

.register-form__group {
    text-align: center;
    padding: 10px;
}

.register-form__input {
    width: 300px;
    padding: 10px;

}

.form__button {
    text-align: center;
}

.form__button-submit {

    color: rgb(248, 248, 248);
    padding: 10px;
    margin: 20px;
    width: 300px;
    background-color: rgb(65, 65, 245);
    border: none;
    border-radius: 5px;

}

.register-form__heading {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 50px 0 10px 0;
}

.register__link-message {
    color: rgb(162, 154, 154);
    margin: 0%;
}

.login__button-submit {
    color: rgb(89, 89, 217);
    font-weight: bold;
    text-decoration: none;

}

input:focus {
    border: orange 1px solid;
    outline: none;
}

.invalid-feedback {
    color: red;
    /* エラーメッセージのテキストカラーを赤色に設定 */
    font-size: 14px;
    /* エラーメッセージのフォントサイズを設定 */
    text-align: center;
    /* エラーメッセージを中央揃えにする */
    margin-top: 5px;
    /* エラーメッセージと入力フィールドの間にマージンを追加 */
}